 h1 {
                color: rgb(14, 0, 139); 
                text-align: center;
            }

            .login_inputs { /* 클래스 */
                font-size: 25px;
            }

            #login_btn { /* 아이디 */
                font-size: 25px; 
                width: 100px; 
                height: 40px;
            }